@import "./style/scss/main.scss";
@import "primeicons/primeicons.css";
@import "primereact/resources/primereact.css";
@import "primereact/resources/themes/lara-light-indigo/theme.css";
@import "react-time-picker/dist/TimePicker.css";
// @import "react-clock/dist/Clock.css";

a {
  text-decoration: none;
  color: #262a2a;
}

.ant-tooltip {
  display: none;
}

.data-table-card {
  .ant-table-content {
    .ant-table-tbody {
      tr {
        &:nth-of-type(2n + 1) {
          background-color: #fff;
        }
      }

      td {
        padding: 0.5rem;
      }
    }
  }
}

.ant-table-cell-row-hover {
  background-color: #fff;
  background: #fff;
}

//ant datatable pagination
.ant-pagination-item.ant-pagination-item-1.ant-pagination-item-active {
  background: #33b9c7;
  border-color: #33b9c7;
  color: #fff;
}

// manage columns in datatable page
h4,
.h4 {
  font-size: 1.125rem;
}

// date range picker
.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #33b9c7;
  color: #fff;
}

.daterangepicker .calendar-table td.in-range {
  background-color: #fff;
}

.applyBtn.btn.btn-sm.btn-primary {
  color: #fff;
  background-color: #33b9c7;
  border: 1px solid #33b9c7;
}

// react-select plugin
.css-1u9des2-indicatorSeparator {
  display: none;
}

//compaign data table
div .badge-status {
  border-radius: 5px;
  font-size: $font-size-12;
  padding: 4px 8px;
  min-width: 64px;
  color: $white;
}

div .bg-success {
  background-color: $success !important;

  &.bg-opacity-10 {
    background-color: rgba($success, 0.1) !important;
  }

  &.bg-opacity-25 {
    background-color: rgba($success, 0.25) !important;
  }

  &.bg-opacity-50 {
    background-color: rgba($success, 0.5) !important;
  }

  &.bg-opacity-75 {
    background-color: rgba($success, 0.75) !important;
  }

  &.bg-opacity-100 {
    background-color: rgba($success, 1) !important;
  }
}

// compaign page datatable
// .list-progress {
//   width: 380px;
// }
:where(.css-dev-only-do-not-override-djtmh8).ant-table-wrapper
  .ant-table-tbody
  .ant-table-row.ant-table-row-selected
  > .ant-table-cell {
  background-color: #fff;
}

// multi-select
// .css-1xc3v61-indicatorContainer svg {
//   display: none;
// }

// .css-15lsz6c-indicatorContainer svg {
//   display: none;
// }

// .css-tj5bde-Svg {
//   background-color: #F6F6F6;
//   border-color: #F6F6F6;
//   color: #6F6F6F;
//   border-radius: 5px;
// }
.css-1p3m7a8-multiValue {
  background-color: #f6f6f6;
  border-color: #f6f6f6;
  color: #6f6f6f;
  border-radius: 5px;
}

.stickybar {
  top: 0;
  position: sticky;
}

// select
.select-details .css-1dimb5e-singleValue,
.select-details .css-1jqq78o-placeholder {
  padding-left: 15px;
}

div.css-13cymwt-control,
div.css-t3ipsp-control {
  min-width: 120px;
  border-color: #e9edf4;
}

div.css-t3ipsp-control:hover {
  border-color: transparent;
}

span.p-dropdown-label.p-inputtext span {
  font-family: "Roboto", sans-serif;
}

// datepicker
.deals-details.react-datepicker__input-container {
  width: 450px !important;
}

div.react-datepicker-wrapper {
  display: block;
  padding: 0;
  border: 0;
}

span.form-icon {
  z-index: 1;
}

.img-checked {
  padding: 10px;
  // width: 30px;
  background: rgb(49, 132, 199);
  color: white;
  border-radius: 20px;
  font-weight: bolder;
  position: relative;
  /* margin-top: 2px ; */
}

.section-notes-slider .notes-slider .slick-list .slick-slide div {
  margin-left: 12px !important;
}

.notes-slider .slick-list .slick-slide {
  padding-right: 16px !important;
}

.teacher-slider .slick-list .slick-slide > div,
.student-slider .slick-list .slick-slide > div {
  margin-right: 0;
  display: contents;
}

.teacher-slider .slick-list .slick-slide,
.student-slider .slick-list .slick-slide {
  padding-right: 0;
}

.teacher-slider.slick-slider,
.student-slider.slick-slider {
  display: flex;
}

.teacher-slider .slick-track,
.student-slider .slick-track {
  height: 100%;
}

.page-add-notes {
  display: flex;
  flex-wrap: wrap;
}

.visible .input-blocks .css-b62m3t-container .css-1dimb5e-singleValue {
  margin-left: 25px !important;
}

.dark-data-theme .css-13cymwt-control {
  background-color: #1d1d42;
  border: 1px solid#67748E;
}

.dark-data-theme .css-t3ipsp-control {
  background-color: #1d1d42;
}

.dark-data-theme .css-1nmdiq5-menu {
  background-color: #1d1d42;
}

// .bx-microphone:before {
//   content: "\eb89";
// }
.form-sorts.dropdown .radio-btn-items {
  margin-top: 10px;
}

.select__control {
  background-color: #33b9c7 !important;
  border-color: #33b9c7 !important;
}

.select__control:hover {
  border-color: #33b9c7 !important;
}

// .slick-slide {
//   margin-right: 5px;
// }
.p-dropdown-label.p-inputtext .p-d-flex.p-ai-center img,
.p-dropdown-item-label .p-d-flex.p-ai-center,
.p-dropdown-label.p-inputtext .p-clearfix img,
.p-dropdown-item-label .p-clearfix img {
  width: 16px;
  height: 16px;
  border-radius: 5px;
  margin-right: 5px;
}

.p-d-flex.p-ai-center {
  display: flex;
  align-items: center;
}

.p-dropdown-items-wrapper ul.p-dropdown-items,
.p-dropdown-panel.p-component.p-ripple-disabled.p-connected-overlay-enter-done {
  z-index: 100000000000 !important;
}

.swiper-container .slick-list {
  margin-left: -236px;
}

.p-dropdown.p-component.p-inputwrapper {
  height: 42px;
  line-height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: #e8e8e8;
  color: #6f6f6f;
  box-shadow: 0px 4px 4px 0px #dbdbdb40;
}

div.p-clearfix {
  display: flex;
  align-items: center;
}

div.p-clearfix span,
span.p-dropdown-label.p-inputtext.p-placeholder {
  font-size: 14px;
}

.p-dropdown-trigger svg {
  width: 13px;
}

.rti--container:focus-within {
  border-color: #e8e8e8 !important;
  box-shadow: none !important;
}

span.rti--tag button {
  font-size: 10px;
}

.filter-dropdown-menu.dropdown-menu.dropdown-menu-md-end.show,
.filter-dropdown-menu.dropdown-menu {
  z-index: 11;
}

span.ant-picker-suffix {
  display: none !important;
}

.stickybar {
  position: sticky;
  top: 0;
}

.right-user-side.chat-rooms.theiaStickySidebar {
  max-height: 600px;
  overflow: auto;
}

.send-chat.comman-icon i.feather.feather-send {
  color: #fff;
}

// .chat-footer form {
//   background-color: #fff;
// }
.main-chat-blk .chat .chat-footer form {
  position: static;
}

.nav.flex-column.nav-pills.todo-inbox i {
  margin-right: 10px;
}

.select-priority .css-1jqq78o-placeholder,
.select-priority .css-1dimb5e-singleValue {
  padding-left: 15px;
}

.form-sort .css-1jqq78o-placeholder,
.form-sort .css-1dimb5e-singleValue {
  padding-left: 20px;
}

.form-sort.select-bluk.space-not-select .css-1jqq78o-placeholder,
.form-sort.select-bluk.space-not-select .css-1dimb5e-singleValue {
  padding: 0;
}

.owl-carousel.folders-carousel.owl-theme .slick-slide > div,
.owl-carousel.files-carousel.owl-theme .slick-slide > div {
  margin-right: 10px;
}

[data-theme="dark"] .ant-table-content table,
[data-theme="dark"] .ant-table-thead tr th,
[data-theme="dark"]
  .ant-pagination.ant-table-pagination.ant-table-pagination-right {
  background-color: #171724;
  color: #a3a6a6;
}

[data-theme="dark"] .table tbody tr td .table-avatar a,
[data-theme="dark"] td.ant-table-cell {
  color: #a3a6a6;
}

// a#theme-settings i {
//   color: #262a2a;
// }
td .badge-pill {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.rsw-editor select {
  display: none;
}

.custom-table {
  border: 1px solid #e8e8e8;
  border-radius: 6px;
}

.join-contents .slick-slider div.slick-slide > div {
  margin-right: 10px;
}

.custom-react-clr {
  color: #6f6f6f;
}

div.popover {
  z-index: 9999;
}

div.rc-slider-track,
.rc-slider-tracks {
  background-color: #33b9c7;
}

div.rc-slider-handle {
  border: solid 2px #33b9c7;
}

span.rc-slider-dot-active {
  border-color: #33b9c7;
}

div.rc-slider-handle:active {
  border-color: #33b9c7;
  box-shadow: 0 0 5px #33b9c7;
  cursor: grabbing;
}

.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
  border-color: #33b9c7;
  box-shadow: 0 0 0 5px #33b9c7;
}

div.rc-slider-handle:hover {
  border-color: #33b9c7;
}

div.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
  border-color: #33b9c7;
  box-shadow: 0 0 0 5px #33b9c7;
}

[data-theme="dark"] {
  :where(.css-dev-only-do-not-override-11xg00t).ant-table-wrapper
    .ant-table-tbody
    .ant-table-row
    > .ant-table-cell-row-hover {
    background-color: #171724;
  }

  :where(.css-dev-only-do-not-override-11xg00t).ant-table-wrapper
    .ant-table-tbody
    > tr
    > th,
  :where(.css-dev-only-do-not-override-11xg00t).ant-table-wrapper
    .ant-table-tbody
    > tr
    > td {
    border-color: #393947;
  }

  :where(.css-11xg00t).ant-table-wrapper
    .ant-table-tbody
    .ant-table-row
    > .ant-table-cell-row-hover {
    background: #171724;
  }

  :where(.css-dev-only-do-not-override-11xg00t).ant-table-wrapper
    .ant-table-thead
    th.ant-table-column-has-sorters:hover {
    background: #171724;
  }

  .custom-table {
    border: 1px solid #393947;
  }

  .css-13cymwt-control {
    background-color: #171724;
    border: 1px solid #393947;
  }

  .react-datepicker__month-container,
  .react-datepicker__header {
    background-color: #393947;
  }

  .css-t3ipsp-control {
    background: #171724;
    border: 1px solid #393947;
    color: #a3a6a6;
  }

  .css-1dimb5e-singleValue {
    color: #a3a6a6;
  }

  .css-b62m3t-container div.css-1nmdiq5-menu {
    background-color: #393947 !important;
  }

  .react-select-29-listbox {
    background-color: #393947;
  }

  .input-blocks input[type="text"] {
    background: #1d1d42 !important;
  }

  .p-dropdown.p-component.p-inputwrapper {
    background-color: #171724;
    border: 1px solid #393947;
    box-shadow: none;
  }

  .p-dropdown-item {
    background-color: #171724;
    border: 1px solid #393947;
  }

  .rti--container {
    background-color: #171724;
    border: 1px solid #393947;
    box-shadow: none;
  }

  .rti--tag {
    background-color: #171724;
  }

  .rti--input {
    background-color: #171724;
  }
}

[data-sidebar="green"] {
  .clinicdropdown.theme {
    a {
      background-color: #005351;
    }
  }
}

[data-sidebar="blue"] {
  .clinicdropdown.theme {
    a {
      background-color: #2f0093;
    }
  }
}

[data-sidebar="dark"] {
  .clinicdropdown.theme {
    a {
      background-color: #28283e;
    }
  }
}

[data-theme="dark"] .header .header-left .logo img.white-logo {
  display: block;
}

[data-theme="dark"] .chat-footer form {
  background-color: #28283e;
}

[data-theme="dark"] .sidebar .sidebar-menu .clinicdropdown.theme a {
  background-color: #28283e;
}

[data-theme="dark"] .rsw-toolbar {
  background: grey;
}

div.css-b62m3t-container .react-select__option--is-focused {
  background-color: #33b9c7;
  color: #fff;
}

div.css-b62m3t-container .react-select__option--is-selected {
  background-color: #33b9c7;
  color: #fff;
}

.submenu .ti-ticket:before {
  content: "\eb3d";
}

.form-icon .ti-search:before {
  content: "\eb1c";
}

.form-icon .ti-calendar:before {
  content: "\ea53";
}

i.ti-trash:before {
  content: "\eb41";
}

[data-theme="dark"] .header .header-left #toggle_btn {
  color: #fff;
}

i.ti-lock:before {
  content: "\eae2";
}

i.ti-bell:before {
  content: "\ea35";
}

[data-theme="dark"] .login-wrapper .form-control {
  background-color: #ffffff;
  border-color: #e8e8e8;
}

[data-theme="dark"] div.css-13cymwt-control,
[data-theme="dark"] div.css-t3ipsp-control {
  border-color: none;
  box-shadow: none;
}

.mini-sidebar.expand-menu .subdrop ~ ul {
  display: block !important;
}

.mini-sidebar .subdrop ~ ul {
  display: none !important;
}

.sidebar .sidebar-menu > ul li .submenu.submenu-two > ul li a {
  margin-left: 30px;
}

.ti.ti-eye:before {
  content: "\ea9a";
}

.ti.ti-user:before {
  content: "\eb4d";
}

div.sidebar-themesettings
  .input-themeselect
  input[type="radio"]:checked
  ~ label
  .checkboxs-theme::before {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  color: #fff;
  font-weight: 700;
  font-size: 10px;
  right: 4px;
  position: absolute;
  top: -16px;
  z-index: 9;
}

.sidebar ::-webkit-scrollbar {
  width: 0px;
}

:where(.css-dev-only-do-not-override-11xg00t).ant-table-wrapper
  .ant-table-thead
  > tr
  > th {
  background: #f2f4f8;
  padding: 12px 20px;
}

.ant-pagination-options {
  position: absolute;
  left: 106px;
  top: -48px;
}

.ant-pagination-options-size-changer {
  position: relative;
}

.ant-pagination-options-size-changer::before {
  content: "Row Per Page";
  position: absolute;
  left: -100px;
  width: 116px;
  top: 3px;
}

.ant-pagination-options-size-changer::after {
  content: "Entries";
  position: absolute;
  left: 71px;
  width: 59px;
  top: 3px;
}

.ant-table-wrapper .ant-table {
  overflow-x: auto !important;
  border-radius: 0 !important;
}

.ant-table-wrapper
  .ant-table-container
  table
  > thead
  > tr:first-child
  > *:last-child {
  border-start-end-radius: 0px !important;
}

:where(.css-dev-only-do-not-override-11xg00t).ant-table-wrapper
  .ant-table-container
  table
  > thead
  > tr:first-child
  > *:first-child {
  border-start-start-radius: 0px !important;
}

.ant-table-wrapper
  .ant-table-container
  table
  > thead
  > tr:first-child
  > *:last-child {
  border-start-start-radius: 0px !important;
}

@media only screen and (max-width: 576px) {
  .table-top-data {
    padding-top: 60px;
  }

  .ant-pagination .ant-pagination-options {
    display: block !important;
  }

  .ant-pagination-options {
    top: -106px;
  }
}

.datepickers {
  width: 100%;
  .p-datepicker {
    width: 100% !important;
    border: none;
    padding: 0;

    table td {
      padding: 5px;
    }

    table td > span {
      width: 33px;
      height: 32px;
      border-radius: 4px;
      font-size: 14px;
    }

    table td.p-datepicker-today > span {
      background-color: #1b507a;
      color: #fff;
    }
  }

  .p-datepicker-header {
    border: none;
  }

  .p-yearpicker {
    padding: 10px;
  }

  .p-monthpicker {
    padding: 10px;
  }
}

.slick-slide > div {
  margin-right: 15px;
}

.task-slider .slick-list,
.lesson .slick-list,
.teachers-profile-slider .slick-list {
  margin-right: -15px;
  /* Adjust to avoid extra margin at the end */
}

.p-datepicker .p-datepicker-header .p-datepicker-title {
  line-height: 0;
}

.p-datepicker .p-datepicker-header .p-datepicker-prev,
.p-datepicker .p-datepicker-header .p-datepicker-next {
  height: 1rem;
}

.p-datepicker .p-datepicker-header .p-datepicker-prev,
.p-datepicker .p-datepicker-header .p-datepicker-next {
  height: 24px;
  width: 24px;
  border: 1px solid #e9edf4;
  border-radius: 50%;
  padding: 6px;
}

.p-datepicker .p-datepicker-header .p-datepicker-prev:hover,
.p-datepicker .p-datepicker-header .p-datepicker-next:hover {
  background: #343c44;
  border-color: #343c44;
}

.p-datepicker .p-datepicker-header .p-datepicker-prev svg,
.p-datepicker .p-datepicker-header .p-datepicker-next svg {
  color: #000;
}

.p-datepicker .p-datepicker-header .p-datepicker-prev:hover svg,
.p-datepicker .p-datepicker-header .p-datepicker-next:hover svg {
  color: #fff;
}

.slick-nav {
  width: 24px;
  height: 24px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  position: absolute;
  cursor: pointer;
  z-index: 99;
  transition: all 0.5s;
}

.slick-nav.class-slides {
  border: 1px solid #e9edf4;
}

.slick-nav.class-slides i {
  font-size: 12px;
}

.slick-nav.class-slides:hover i {
  color: #fff;
}

.slick-nav.class-slides:hover {
  background: #000;
}

.class-datepick .icon:first-child {
  z-index: 99;
}

.ant-picker-input > input {
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto", sans-serif !important;
  color: #202c4b;
}

.ant-picker-input > input::placeholder {
  color: #202c4b !important;
}

:where(.css-dev-only-do-not-override-11xg00t).ant-picker-outlined:focus,
:where(.css-dev-only-do-not-override-11xg00t).ant-picker-outlined:focus-within {
  box-shadow: none;
}

.play-group {
  left: 50%;
  top: 35%;
}

.play-btn-video {
  height: 40px;
  width: 40px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  z-index: 999;
  position: relative;
  justify-content: center;
  align-items: center;
  left: -50%;
}

.play-btn-video i {
  font-size: 20px;
}

.form-sort .info-img {
  top: 50%;
  left: 7px;
}

.custom-sticky {
  position: sticky;
  top: 60px;
}

.stickiy-header {
  position: sticky !important;
  top: 0;
  background: #fff !important;
  z-index: 9;
}

// theme-settings style
.theme-layout input[type="radio"] {
  display: none;
}

.theme-layout.active .layout-img img {
  border: 1px solid #33b9c7;
  border-radius: 5px;
}

.theme-layout.active .layout-type {
  position: relative;
  padding-left: 15px;
}

.theme-layout.active .layout-type:after {
  content: "\f058";
  font-family: "Fontawesome";
  color: #33b9c7;
  font-weight: 700;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  display: block;
}

.theme-colorselect input[type="radio"] {
  display: none;
}

.theme-colorselect.active label {
  outline: 1px solid #33b9c7;
}

.theme-colorselect.active label.primary-topbar {
  background: #33b9c7;
}

.theme-colorselect.active label.primary-topbar:after,
.theme-colorselect.active label.dark-topbar:after {
  color: #fff;
}

.theme-colorselect.active label:after {
  content: "\f058";
  font-family: "Fontawesome";
  color: #33b9c7;
  font-weight: 700;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.theme-mode input[type="radio"] {
  display: none;
}

.theme-mode.active label {
  border: 1px solid #33b9c7;
}

.theme-mode.active label .avatar {
  color: #33b9c7;
  background-color: #f2f5ff;
}

.theme-sidebarcolor input[type="radio"] {
  display: none;
}

.theme-sidebarcolor.active label {
  border-color: #33b9c7 !important;
  position: relative;
}

.theme-sidebarcolor.active label:after {
  content: "\f058";
  font-family: "Fontawesome";
  color: #33b9c7;
  font-weight: 700;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.theme-sidebarcolor.active label.bg-dark:after {
  color: #fff;
}

.theme-sidebarbg input[type="radio"] {
  display: none;
}

.theme-sidebarbg.active label img {
  border-color: #33b9c7 !important;
}

.theme-colorsset.active label:after {
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.theme-colorsset input[type="radio"] {
  display: none;
}

.layout-mode-rtl .me-3 {
  margin-left: 1rem !important;
}

.layout-mode-rtl .breadcrumb-item + .breadcrumb-item::before {
  float: right;
  padding-left: var(--bs-breadcrumb-item-padding-x);
}

.layout-mode-rtl .breadcrumb-item + .breadcrumb-item {
  padding-right: var(--bs-breadcrumb-item-padding-x);
}

.layout-mode-rtl .me-2 {
  margin-left: 0.5rem !important;
}

.layout-mode-rtl .me-1 {
  margin-left: 0.25rem !important;
}

.layout-mode-rtl p.text-white.custom-text-white {
  display: flex;
  align-items: center;
}

.layout-mode-rtl .ms-2 {
  margin-right: 0.5rem !important;
}

.layout-mode-rtl .fas.fa-chevron-right {
  transform: rotate(180deg);
}

.layout-mode-rtl .fas.fa-chevron-left {
  transform: rotate(180deg);
}

.layout-mode-rtl .notice-widget .me-2 {
  margin-right: 0 !important;
  margin-left: 0.5rem !important;
}

// theme-settings style

.stickytopbar {
  position: sticky;
  top: 60px;
}

.ant-select-selector {
  padding-inline-start: 8px;
  border-radius: 4px !important;
}

:where(.css-dev-only-do-not-override-11xg00t).ant-select-multiple {
  height: 40px;
}

.select .ant-select-selection-item {
  background: #506ee4 !important;
}

.ant-select-selection-item-content {
  color: #fff;
}

.ant-select-selection-item-remove .anticon.anticon-close {
  color: #fff !important;
}

.ant-table-thead .ant-table-cell.ant-table-selection-column {
  padding: 12px 20px;
}

.custom-radio input:checked ~ .checkmark:after {
  display: block;
}

.ant-picker-dropdown {
  z-index: 9999 !important;
}

.fc .fc-customButton-button.fc-button.fc-button-primary {
  background-color: #33b9c7;
  border-color: #33b9c7;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  position: relative;
  padding: 7px 20px 7px 40px !important;
}

.fc .fc-customButton-button.fc-button.fc-button-primary::before {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  font-family: "Fontawesome";
  content: "\f055";
}

.ant-picker-clear {
  display: none;
}

[data-theme="darks"] {
  .daterangepicker {
    background-color: #131022 !important;
    border: 1px solid #1b1632 !important;

    .calendar-table {
      background-color: #131022 !important;
      border: 1px solid #1b1632 !important;
    }

    td.off {
      background-color: #131022 !important;
    }
  }
}

.conference-meet-group .right-user-side.chat-rooms {
  display: none;
  max-height: 400px !important;
}

.conference-meet-group .right-user-side.chat-rooms.open-chats {
  display: block;
}

:where(.css-dev-only-do-not-override-11xg00t).ant-checkbox .ant-checkbox-inner {
  width: 1.15rem;
  height: 1.15rem;
}

:where(.css-dev-only-do-not-override-11xg00t).ant-table-wrapper
  .ant-table-tbody
  .ant-table-row.ant-table-row-selected
  > .ant-table-cell {
  background: transparent;
}

.dark-data-theme {
  .p-datepicker {
    background: #0f0c1c !important;

    .p-datepicker-header {
      background: #0f0c1c !important;

      .p-datepicker-prev svg,
      .p-datepicker-next svg {
        color: #b9b7c0;
      }
    }
  }

  :where(.css-dev-only-do-not-override-11xg00t).ant-checkbox
    .ant-checkbox-inner {
    background-color: #5b576b;
    border-color: #1b1632;
  }

  #reportrange {
    background: #131022 !important;
    color: #b9b7c0 !important;
    border: 1px solid #1b1632 !important;
  }

  #reportrange,
  :where(.css-dev-only-do-not-override-11xg00t).ant-select-outlined:not(
      .ant-select-customize-input
    )
    .ant-select-selector {
    background: #131022 !important;
    color: #b9b7c0 !important;
    border: 1px solid #1b1632 !important;
  }

  .select {
    div.css-13cymwt-control,
    div.css-t3ipsp-control,
    .daterangepicker {
      background-color: #131022;
      border: 1px solid #1b1632;
    }

    .css-1dimb5e-singleValue {
      color: #b9b7c0;
    }
  }

  :where(.css-dev-only-do-not-override-11xg00t).ant-picker-dropdown
    .ant-picker-panel-container {
    background: #131022;
  }

  :where(.css-dev-only-do-not-override-11xg00t).ant-picker-dropdown
    .ant-picker-header,
  :where(.css-dev-only-do-not-override-11xg00t).ant-picker-dropdown
    .ant-picker-content
    th,
  :where(.css-dev-only-do-not-override-11xg00t).ant-picker-dropdown
    .ant-picker-cell-in-view,
  :where(.css-dev-only-do-not-override-11xg00t).ant-picker-dropdown
    .ant-picker-time-panel-column
    > li.ant-picker-time-panel-cell
    .ant-picker-time-panel-cell-inner,
  .ant-pagination-options-size-changer::before,
  .ant-pagination-options-size-changer::after {
    color: #b9b7c0;
  }

  :where(.css-dev-only-do-not-override-11xg00t).ant-table-wrapper
    .ant-table-thead
    > tr
    > th:not(:last-child):not(.ant-table-selection-column):not(
      .ant-table-row-expand-icon-cell
    ):not([colspan])::before {
    display: none;
  }

  .stickiy-header {
    background: #131022;
  }
}

.custom-cal-react {
  text-align: center;
}

.custom-cal-react {
  width: 100%;
}

.top-online-contacts button.slick-arrow {
  display: none !important;
}

div.css-1jqq78o-placeholder {
  color: #202c4b;
}

div.css-1xc3v61-indicatorContainer svg {
  width: 16px;
}

:where(
    .css-dev-only-do-not-override-11xg00t
  ).ant-picker.ant-picker-outlined:hover {
  border-color: #e9edf4;
  background-color: #ffffff;
}

div.css-13cymwt-control:hover {
  border-color: #e8e8e8;
}

div.css-t3ipsp-control {
  box-shadow: none;
  border: 1px solid #e8e8e8;
}

div.css-t3ipsp-control:hover {
  border: 1px solid #e8e8e8;
}

svg.css-tj5bde-Svg {
  width: 16px;
}

div.css-15lsz6c-indicatorContainer {
  color: hsl(0, 0%, 80%);
}

div.css-1xc3v61-indicatorContainer:hover {
  color: hsl(0, 0%, 80%);
}

:where(
    .css-dev-only-do-not-override-11xg00t
  ).ant-select.ant-select-outlined:not(.ant-select-customize-input)
  .ant-select-selector {
  border: 1px solid #e9edf4;
  background: #ffffff;
}

.ant-select-multiple span.ant-select-arrow {
  display: none;
}

:where(.css-dev-only-do-not-override-11xg00t).ant-select.ant-select-outlined {
  font-family: "Roboto", sans-serif;
}

:where(
    .css-dev-only-do-not-override-11xg00t
  ).ant-select.ant-select-outlined:not(.ant-select-disabled):not(
    .ant-select-customize-input
  ):not(.ant-pagination-size-changer):hover
  .ant-select-selector {
  border-color: #e9edf4;
}

div.ant-select-item .ant-select-item-option-content {
  font-family: "Roboto", sans-serif;
  color: #6a7287;
}

.ant-select-focused:where(
    .css-dev-only-do-not-override-11xg00t
  ).ant-select-outlined:not(.ant-select-disabled):not(
    .ant-select-customize-input
  ):not(.ant-pagination-size-changer)
  .ant-select-selector {
  border-color: #1677ff;
  box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
  outline: 0;
}

:where(
    .css-dev-only-do-not-override-11xg00t
  ).ant-select.ant-select-outlined:not(.ant-select-customize-input)
  .ant-select-selector {
  border: 1px solid #e9edf4;
  background: #ffffff;
}

div.ant-select-focused:where(
    .css-dev-only-do-not-override-11xg00t
  ).ant-select-outlined:not(.ant-select-disabled):not(
    .ant-select-customize-input
  ):not(.ant-pagination-size-changer)
  .ant-select-selector {
  border-color: #e9edf4;
  box-shadow: none;
}

:where(.css-dev-only-do-not-override-11xg00t).ant-select.ant-select-multiple
  .ant-select-selector {
  height: 38px;
}

th.ant-table-cell {
  color: #202c4b;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

:where(.css-dev-only-do-not-override-11xg00t).table.ant-table-wrapper
  .ant-table-thead
  > tr
  > th,
:where(.css-dev-only-do-not-override-11xg00t).ant-table-wrapper
  .ant-table-thead
  > tr
  > td {
  color: rgba(0, 0, 0, 0.88);
  font-weight: 500;
  background: #f2f4f8;
  border-bottom: 1px solid #e9edf4;
}

:where(.css-dev-only-do-not-override-11xg00t).table.ant-table-wrapper
  .ant-table {
  font-family: "Roboto", sans-serif;
}

div.ant-picker-date-panel {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
}

.dark-data-theme .page-wrapper {
  height: 100vh;
}

.dark-data-theme li.ant-pagination-item.ant-pagination-item-2 {
  color: #fff;
}

.dark-data-theme .ant-picker-input > input::placeholder {
  color: #b9b7c0 !important;
}

.dark-data-theme div.css-1jqq78o-placeholder {
  color: #b9b7c0;
}

.dark-data-theme .css-13cymwt-control {
  background-color: #131022;
}

.dark-data-theme .css-t3ipsp-control {
  background-color: #131022;
}

.dark-data-theme .css-1nmdiq5-menu {
  background-color: #131022;
}

div.css-b62m3t-container .react-select__option--is-focused {
  background-color: #33b9c7;
  color: #fff;
}

div.css-b62m3t-container .react-select__option--is-selected {
  background-color: #33b9c7;
  color: #fff;
}

.dark-data-theme div.rti--container {
  background-color: #131022;
  border-color: #1b1632;
}

.dark-data-theme div.rti--container .rti--input {
  background-color: #131022;
}

div.rti--container {
  border-color: #e9edf4;
  color: #6f6f6f;
  height: 38px;
  border-radius: 4px;
  overflow: auto;
}

span.rti--tag span {
  color: #515b73;
}

[data-theme="darks"] {
  :where(.css-dev-only-do-not-override-11xg00t).ant-picker-dropdown
    .ant-picker-content
    th,
  :where(.css-dev-only-do-not-override-11xg00t).ant-picker-dropdown
    .ant-picker-header
    > button:hover,
  :where(.css-dev-only-do-not-override-11xg00t).ant-picker-dropdown
    .ant-picker-cell-in-view,
  :where(.css-dev-only-do-not-override-11xg00t).ant-picker-dropdown
    .ant-picker-cell,
  :where(.css-dev-only-do-not-override-11xg00t).ant-picker-dropdown
    .ant-picker-header-view
    button,
  :where(.css-dev-only-do-not-override-11xg00t).ant-picker-dropdown
    .ant-picker-header
    button,
  .ant-picker-now a {
    color: #b9b7c0;
  }

  div.ant-picker-panel-layout {
    background-color: #131022;
  }

  :where(
      .css-dev-only-do-not-override-11xg00t
    ).ant-picker.ant-picker-outlined:hover {
    background-color: #131022;
    border-color: #1b1632;
  }

  .fc th {
    background: #1b1632;
    border-color: #322d46;
  }

  .fc-day {
    background: #1b1632;
    border-color: #322d46;
  }

  .fc .fc-col-header-cell-cushion {
    color: #b9b7c0;
  }

  .fc .fc-daygrid-day-number {
    color: #b9b7c0;
  }

  .fc-theme-standard .fc-scrollgrid {
    border: 1px solid #322d46;
  }
}

body.app-chat {
  overflow-y: hidden;
  overflow-x: hidden;
}
.react-select__placeholder.css-1jqq78o-placeholder {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}
:where(.css-dev-only-do-not-override-11xg00t).ant-table-wrapper
  .ant-table-pagination.ant-pagination {
  margin: 16px 0 0;
}

.attempt {
  font-size: 12px;
  margin-left: 10px;
}

.navlinks {
  ul {
    display: flex;
  }
  .nav {
    margin: 0px 10px;
  }
}

.upcomingClasses {
  .event-wrapper {
    height: 20em;
  }
}

.videoSlider {
  img {
    border-radius: 10px;
  }
  .rounded {
    border-radius: 10px !important;
  }
}

.innercontent {
  border: 1px solid #1b507a;
  border-radius: 10px;
  padding: 20px;
  margin: 10px 0;
}

.micCard {
  background-color: #d8f1ff;
  padding: 10px;
  border-radius: 10px;
}

.page-wrappers {
  padding: 56px 0 0;
  .audio-inner {
    background-color: rgb(228 246 255) !important;
  }
}

.practiceLayout .card-header {
  background-color: #1b507a;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardBtns {
  .btn {
    margin-left: 10px;
  }
}

.circle-tab {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}

.circle-tab:hover {
  transform: scale(1.1);
}

.studyPlan {
  .calendar {
    width: 100% !important;
  }
}

.studyplantab {
  // .nav {
  //   .one {
  //     background-color: #060606 !important;
  //   }
  //   .two {
  //     background-color: #060606 !important;
  //   }
  //   .three {
  //     background-color: #060606 !important;
  //   }
  //   .four {
  //     background-color: #060606 !important;
  //   }
  // }

  .nav-item .active {
    color: #232323 !important;
    border: 1px solid #d6d6d6 !important;
  }
  .nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    // width: 6em;
    // height: 6em;
    font-size: 14px;
    color: #232323;
    border-radius: 100px;
    justify-content: center;
    i {
      font-size: 20px;
      color: #232323;
    }
  }
  .studycontent {
    .head {
      display: flex;
      align-items: center;
      .icon {
        background-color: #fff;
        padding: 10px;
        border-radius: 100px;
        margin-right: 10px;
        width: 3em;
        height: 3em;
        display: flex;
        justify-content: center;
        align-items: center;
        .one {
          color: #e82646 !important;
        }
        .two {
          color: #6fccd8 !important;
        }
        .three {
          color: #eab300 !important;
        }
        .four {
          color: #1abe17 !important;
        }
      }
    }
  }
}

.bar {
  .bardetail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 10px;
  }
}

.progBar {
  .head {
    margin-bottom: 10px;
    h5 {
      color: #5e5e5e;
    }
  }
}

.scoreicon {
  .icon {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.headBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5em;
}

.p-datepicker table th {
  padding: 0.5rem;
  text-align: center !important;
}

.redorder-btn {
  padding-left: 0 !important;
  span {
    background-color: #33b9c7 !important;
    padding: 10px !important;
    margin-right: 1em;
    border-radius: 5px;
    color: #fff;
    height: 100%;
  }
}

.loginimg {
  img {
    width: 70%;
  }
}

// mocktest card css

.mock-test-card {
  background-color: #e6ffff;
  padding: 20px;
  border-radius: 16px;
  text-align: center;
  font-family: sans-serif;
  box-shadow: 0 0 0 1px #d0f0f0;
  border: 1px solid #d0f0f0;
}

.mock-test-card h2 {
  margin: 0 0 10px;
  font-size: 20px;
  font-weight: 600;
}

.mock-test-card .time,
.mock-test-card .attempted {
  margin: 5px 0;
  font-size: 16px;
  color: #333;
}

.mock-test-card .start-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: white;
  border: 1px solid #000;
  border-radius: 30px;
  /* cursor: pointer; */
  display: inline-flex;
  align-items: center;
  /* gap: 8px; */
  transition: background-color 0.3s;
  width: 10em;
  justify-content: space-around;
  margin: 1em auto auto auto;
}

.mock-test-card .start-btn:hover {
  background-color: #f2f2f2;
}

.mock-test-card .arrow {
  font-size: 18px;
}

.mockHeader {
  .navbar {
    padding: 20px;
    background-color: #33b9c7;
    color: #fff;
    h5 {
      color: #fff;
    }
  }
}

.languageCard .container {
  background-color: #f9f9f9;
  border: 1px solid #0d95ad;
  border-radius: 20px;
  box-shadow: 0 4px 6px #0000001a;
  margin: auto;
  padding: 20px;
  text-align: center;
  width: 400px;
}
.languageCard .icon {
  color: #0af;
  font-size: 40px;
  margin-bottom: 10px;
}
.languageCard .title {
  color: #333;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}
.languageCard .options {
  display: flex;
  gap: 15px;
  justify-content: center;
}
.languageCard .option.active,
.languageCard .option:hover {
  background-color: #ff6b6b;
  color: #fff;
}
.languageCard .option {
  border: 2px solid #ddd;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  position: relative;
  transition: all 0.3s ease;
}
.languageCard .option input {
  display: none;
}
.languageCard {
  margin-top: 4em;
}

.mocktest-session {
  .mockmainbtn {
    position: absolute;
    right: 5%;
    bottom: 5%;
  }
}

.mockInfoContent {
  margin-top: 2em;
}

.record-box {
  border: 2px solid #0b0b1b;
  background-color: #f6f6f8;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.record-title {
  font-size: 16px;
  color: #555;
  margin-bottom: 10px;
}

.record-status {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}

.progress-wrapper {
  position: relative;
  width: 100%;
  height: 20px;
}

.progress-bar-track {
  height: 8px;
  background-color: #ccc;
  border-radius: 10px;
  overflow: hidden;
}

.progress-bar-fill {
  height: 8px;
  background-color: #888;
  transition: width 1s linear;
}

.progress-indicator {
  position: absolute;
  top: -6px;
  width: 20px;
  height: 20px;
  background-color: #f6f6f8;
  border: 3px solid #ccc;
  border-radius: 50%;
  transform: translateX(-50%);
  z-index: 2;
  transition: left 1s linear;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  text-align: center;
}

.reaultCardBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scoreHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.overallcard {
  height: 10em;
  border-radius: 5px 5px 100px 100px !important;
  background-color: #ddebf2;
  h5 {
    padding: 10px;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
  }
  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
  }
}

.logo-half {
  width: 10%;
  margin-right: 1em;
}

.circle-score {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 8px solid;
  background-color: white;
}

.score-text {
  font-size: 1.5rem;
  font-weight: 500;
  color: #444;
}

.circle-score {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 8px solid;
  background-color: white;
}

.score-text {
  font-size: 1.5rem;
  font-weight: 500;
  color: #444;
}

.progress {
  height: 20px;
  background-color: #e0e0e0 !important;
  border-radius: 4px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  border-radius: 0;
}

.target-line {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #111;
}

.questionBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em !important;
  border-radius: 100px !important;
}

.custom-card {
  border-radius: 20px;
  transition: transform 0.2s ease-in-out;
}

.custom-card:hover {
  transform: scale(1.03);
}

.text-info {
  svg {
    color: #33b9c7;
    font-size: 3em;
  }
}

.studySection {
  .card:hover {
    border: 1px solid #33b9c7;
  }
}

.mock-test-card:hover {
  border: 1px solid #33b9c7;
  transition: 0.4s ease-in-out;
}

.mock-test-card {
  transition: 0.4s ease-in-out;
}

.prediction-card {
  position: relative;
  box-shadow: 0px 0px 22px -3px #ccc;
  padding: 10px;
  border-radius: 20px;
}

.pcard-inner {
  position: absolute;
  bottom: 1%;
  left: 0%;
  color: #222222;
  width: 100%;
  padding: 10px;
  text-align: center;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  background: #ffffff80;
  border-radius: 4px;
  bottom: 0;
  box-shadow: 0 5px 15px -5px #ccc;
}

/* Schedule.css */

.schedule-table {
  border-collapse: separate;
  border-spacing: 0;
}

.schedule-table td {
  vertical-align: middle;
  border-color: #ddd;
  background-color: #fef5e6;
}

.schedule-table th {
  vertical-align: middle;
  border-color: #ddd;
  background-color: #00b2a9;
  color: #fff;
}

.card-header {
  border-bottom: 2px solid #00b2a9;
}

.card-header h5 {
  color: #00b2a9;
  font-weight: 600;
}

.classLink {
  .left-card {
    background: linear-gradient(135deg, #4aa7b3, #60b1bd);
    h5 {
      color: #fff;
    }
    h4 {
      color: #fff;
    }
    p {
      color: #fff;
    }
  }
  .right-card {
    box-shadow: 0px 0px 22px -3px #ccc;
  }
}

.speaking-card {
  .card {
    padding: 1.5em;
    text-align: center;
    .cardIcon {
      margin: auto;
      border: 1px solid #0d95ad;
      width: 6em;
      height: 6em;
      border-radius: 100px;
      padding: 10px;
      margin-bottom: 1em;
      img {
        width: 100%;
        padding: 10px;
      }
    }
  }
  .card:hover {
    border: 1px solid #0d95ad;
  }
}

.communitycard {
  background-color: rgb(232, 247, 255);
}

.bottomfooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.personicon {
  width: 3em;
  height: 3em;
  border-radius: 100px;
  box-shadow: 0px 0px 22px -3px #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
}

.innercomment {
  border: 1px solid #0af;
  border-radius: 10px;
  padding: 1em;
}

.marquee-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  direction: rtl; /* Right-to-left direction */
  background: #ffffff;
  padding: 15px 0 0;
  position: relative;
}

.marquee-content {
  display: inline-block;
  animation: marqueeRTL 10s linear infinite;
}

@keyframes marqueeRTL {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.innerattempt {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
}

.attemptedicon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.practiceCard {
  background-color: #ffc1c1;
  border-radius: 5px;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
  p {
    color: #292929;
  }
  .count {
    background-color: #fff;
    width: 3em;
    height: 3em;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.acBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  .count {
    background-color: #fff;
    width: 3em;
    height: 3em;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #696969;
    border: 1px solid #696969;
  }
}

.timeicon {
  width: 4em;
  height: 4em;
  margin: auto;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  i {
    font-size: 25px !important;
  }
}

.acBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  .count {
    background-color: #fff;
    width: 3em;
    height: 3em;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #696969;
    border: 1px solid #696969;
  }
  .droppable {
    min-width: 80px;
    display: inline-block;
    text-align: center;
  }

  .draggable {
    margin: 10px;
    padding: 8px;
    background: #f0f0f0;
    border-radius: 4px;
    cursor: grab;
  }
}

.innercontent p {
  font-size: 18px;
  // line-height: 32px;
  line-height: 2.2;
}

.mynotesBtn {
  position: fixed;
  right: 0;
  top: 23%;
  z-index: 8765;
}

.communicative {
  background: linear-gradient(45deg, #f56d92, #29afaf);
  border-radius: 30px;
  box-shadow: 0 5px 5px #dee8ed;
  color: #fff;
  font-size: 14px;
  line-height: 1.375rem;
  margin-bottom: 10px;
  padding: 10px 30px;
  text-align: left;
  text-transform: uppercase;
}

.skills-list li {
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 4px 8px #0003;
  color: #151515;
  font-size: 12px;
  margin: 10px 0;
  padding: 10px 0;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.countdown {
  margin-right: 1em;
}

.bannerSlider {
  img {
    border-radius: 5px;
  }
}

.examCount {
  margin-top: 2em;
}

.studycontent {
  .bar {
    margin: 13px 0;
  }
}

.dashboardstudy {
  height: 48.5em;
  overflow: hidden;
  overflow-y: scroll;
}

.scannerDetail {
  padding: 0 2em 2em 2em;
  h4 {
    margin-bottom: 0.5em;
  }
}
.badword {
  color: #d32f2f;
  font-weight: 600;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}
.goodword {
  color: #4caf50;
  font-weight: 600;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}
.avgword {
  color: #f5a623;
  font-weight: 600;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

.studyStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.mainFilter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.questionSearch {
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.onhovercard:hover {
  border: 1px solid #1b507a !important;
}

.templatebg:after {
  background-attachment: fixed;
  background-image: url(../public/assets/img/templateBg.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 20%;
  content: "";
  height: 100%;
  left: 50%;
  opacity: 0.1;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.fillDropdown {
  input {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-right: 5px;
  }
}

.planinfo .card-header {
  background-color: #1b507a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.questionCard {
  strong {
    font-weight: 500 !important;
  }
}

.questionList {
  .nav-link {
    font-weight: 700 !important;
    color: #000;
    font-size: 16px !important;
  }
}

.innercontent {
  select {
    font-size: 16px !important;
  }
}

.activecard {
  background-color: rgb(255, 196, 196);
  .count {
    width: 4em;
    height: 4em;
    border-radius: 100px;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
  }
  .activeplandetail {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
}

.advanceSearch {
  width: 80%;
  border: 2px solid #1b507a;
  border-radius: 100px;
  padding: 1em;
  margin: auto;
}

/* Optional custom styles */
.list-group-item {
  padding: 0.75rem 1rem;
  font-size: 0.95rem;
}

.card {
  border-radius: 8px;
  overflow: hidden;
}
.audio-card {
  audio {
    border: 2px solid #1b507a;
    border-radius: 100px;
  }
}

.bottomborder {
  span {
    border-bottom: none !important;
  }
}

.quelabel {
  cursor: pointer;
  font-size: 18px;
  line-height: 30px;
}

.choose-box,
.choose-radio {
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.quelabel input {
  margin-right: 0.5rem;
}

.modal-dcenter .modal-dialog {
  display: flex;
  align-items: center;
  min-height: calc(100% - var(--bs-modal-margin) * 2);
}

.speech-text {
  line-height: 1.8;
}

.speech-text span {
  margin-right: 4px;
}
.sharelink {
  .audio-player {
    display: flex;
    align-items: center;
    gap: 12px;
    background: #f5f6f7;
    border-radius: 24px;
    padding: 10px 16px;
    width: fit-content;
    font-family: Arial, sans-serif;
    margin-top: 16px;
  }

  .icon-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #000;
  }

  .time-label {
    font-size: 14px;
    min-width: 80px;
  }

  .progress-bar {
    flex: 1;
    height: 6px;
    background-color: #ccc;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    max-width: 160px;
  }

  .progress-fill {
    height: 100%;
    background-color: #555;
    transition: width 0.2s;
  }
}

.pageheading {
  display: flex;
  align-items: end;
  .shortIcon {
    box-shadow: 0px 0px 22px -10px #ccc;
    border-radius: 10px;
    padding: 15px;
    margin-right: 1em;
    background-color: rgb(225 242 255);
    position: relative;
    span {
      position: absolute;
      right: -8px;
      top: -8px;
      background-color: #fff;
      border: 1px solid #e8e8e8;
      padding: 1px 4px;
      border-radius: 30px;
      font-size: 12px;
      background-color: rgb(255, 174, 174);
    }
  }
}

.answerCard{
  background-color: rgb(228, 246, 255) !important;
}

.hiIhZW{
  background-color: transparent !important;
}